

body{
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: white;
  background-image: url('https://images.unsplash.com/photo-1586032788085-d75f745f26e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1724&q=80');
  background-repeat: no-repeat;
  height: 100%;
  
}

.off{
  background: transparent;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  font-size: 4.5em;
  
}
h4{
  margin-left: 15%;
  margin-right: 15%;
}